/*Display e calculadora*/
body{
    background-color:#ecebeb;
}
.display{
    width: 400px;

    border-radius:5px;
    box-shadow:3px 3px 5px grey;
    text-decoration:none;
    background-color:#e6e6e6;
    border:none;
}
.display-calculo{
    display: table-cell;
    text-align: right;
    
    width: 400px;
    height: 60px;
    margin-bottom: 10px;
    font-size: 40px;
}
.display-historico{
    width: 400px;
    height: 50px;
    font-size: 10px;
}
.conteudo-calculadora{
    width: 403px;
    height: 250px;
    margin-top: 10px;
    font-size: large;
}


/*Containers do conteúdo da calculadora*/
.btn-num-container{
    width:74%;
    height: 250px;
    float: left;
}
.btn-sinais-container{
    width: 25%;
    height: 250px;
    float: right;
}



/*Botões da calculadora*/
.btn-num{
    border-radius:5px;
    cursor:pointer;
    box-shadow:3px 3px 5px grey;
    text-decoration:none;
    background-color:#e6e6e6;
    border:none;
    font-size: large;
    cursor:pointer;

    margin-bottom: 3px;
    padding: 5px;
    width: 32%;
    height: 48px;
}
.btn-sinais{
    border-radius:5px;
    cursor:pointer;
    box-shadow: 3px 3px 5px grey;
    text-decoration:none;
    background-color:#e6e6e6;
    border:none;
    font-size: large;
    cursor:pointer;

    margin-bottom: 3px;
    padding: 5px;
    width: 99%;
    height: 48px;
}
#c{
    border-radius:5px;
    cursor:pointer;
    box-shadow: 3px 3px 5px grey;
    text-decoration:none;
    background-color:#e6e6e6;
    border:none;
    font-size: large;
    cursor:pointer;

    width: 99%;
    height: 48px;
}


